//WebKit obtenida en pagina https://www.fontsquirrel.com/tools/webfont-generator para generar fuente de Pokemon
@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('fonts/webfontkitPokemon/pokemon_solid-webfont.woff2') format('woff2'),
         url('fonts/webfontkitPokemon/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 40vh;
    height: 100px;
    a{
        width: 20%;
    }
    .logo{
        width: 30%;
        padding: 10px;
        padding-left: 30px;
    }
    .search{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .searchBar{
        color: white;
        width: 200px;
        height: 30px;
        border-radius: 15px;
        background-color: black;
    }
    .logo-busq{
        width: 40px;
        height: 45px;
        padding: 10px;
    }
    nav{
        display: flex;
        padding: 10px;
        width: 45%;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: row;
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .hamburguesa{
        width: 30px;
    }
}
.secInicio{
    .imInicio{
        //Especificar Resolución Monitor?
        width: 100%;
        height: auto;
    }
    h1{
        position: absolute;
        width: 1000px;
        height: 90px;
        left: 79px;
        top: 588px;
        font-family: 'pokemon_solidnormal';
        font-size: 45px;
        letter-spacing: 0.18em;
    }
}

.secFinal{
    display: inline-flex;
    .container{
        position:absolute;
        background-color: #8AAAE5;
        width: 100%;
        top:1081px;
        width: 100%;
        height: auto;
        max-height: 172px;
        text-align: center;
        justify-content: center;
    }
    .titulo-secF{
    //white-space: pre;
        margin: auto;
        width: 80%;
        font-family: 'pokemon_solidnormal';
        letter-spacing: 0.18em;
        font-size:35px;
        padding-top: 2%;
        padding-bottom: 3%;
    }
    .opcion1{
        align-items: center;
        p{
            align-items: center;
            position: absolute;
            width: auto;
            top:1600px;
            left: 280px;
        }
        .im1{
            position: absolute;
            width: 163px;
            height: 170px;
            left: 228px;
            top: 1800px; 
        }
    }
    .opcion2{
        text-align: center;
        align-items: center;
        p{
            text-align: center;
            align-items: center;
            position: absolute;
            width: auto;
            top:1600px;
            left: 930px;

        }
        .im2{
            position: absolute;
            width: 197px;
            height: 197px;
            left: 870px;
            top: 1800px;
        }
    }

    .opcion3{
        p{
            text-align: center;
            align-items: center;
            position: absolute;
            width: auto;
            top:1600px;
            left: 1550px;
        }
        .im3{
            position: absolute;
            width: 184px;
            height: 186px;
            left: 1500px;
            top: 1800px;
        }
        
    }
    
}



